.side-bar
  .side-bar_user-name
    .side-bar_user-name_box
      .side-bar_user-name_box_nickname
        masa
      .side-bar_user-name_box_menu
        .side-bar_user-name_box_menu_new-group
        = link_to "#" do
          = icon('fas', 'edit', class: "new-group__btn--icon")
        .side-bar_user-name_box_menu_edit-user
        = link_to "#" do
          = icon('fas', 'cog', class: "edit-user__btn--icon")
  .side-bar_groups-list
    .side-bar_groups-list_group
      .side-bar_groups-list_group_name
        ken
      .side-bar_groups-list_group_message
        ken
    .side-bar_groups-list_group
      .side-bar_groups-list_group_name
        ken
      .side-bar_groups-list_group_message
        ken
    .side-bar_groups-list_group
      .side-bar_groups-list_group_name
        ken
      .side-bar_groups-list_group_message
        ken
    .side-bar_groups-list_group
      .side-bar_groups-list_group_name
        ken
      .side-bar_groups-list_group_message
        ken
    .side-bar_groups-list_group
      .side-bar_groups-list_group_name
        ken
      .side-bar_groups-list_group_message
        ken